# NOTE: it is not possible to prescribe a specific shell for interpretation
# of this script since all comments are lost when the template parameters
# are replaced.
# So this script should be interpretable by all POSIX compatible shell
blockMesh

n=@!n_base!@
nfine=@!resolution!@

while [ $n -lt $nfine ]
do
    topoSet
    refineHexMesh -overwrite interfaceRegion
    n=$(($n*2))
done
