#!/usr/bin/env bash
surfaceGenerateBoundingBox constant/front.stl box.stl @!box_length!@ @!box_length!@ @!box_length!@ @!box_length!@ @!box_length!@ @!box_length!@  
removeSurfaceFacets box.stl box.stl patch0
cp system/meshDict.cartesian system/meshDict
cartesianMesh
