/0/
/1/
/processor*/
/postProcessing/
/dynamicCode/
/log.*
/caseOverrides.sh
/constant/polyMesh/
/constant/levitator2D.fms
/constant/transportProperties
/system/controlDict
/system/extrudeMeshDict
/system/meshDict
/0.orig/Pre
/0.orig/Pim
/__pycache__/
/refinementProbe*/
/gorkovStudy/r*um/
/meshConvergence/coarse/
/meshConvergence/medium/
/meshConvergence/fine/
/positionSweep/p*_?*mm/
